.spacer {
    flex: 1 1 auto;
}


.bg
{
    background-color: rgb(61, 61, 65);
    background: url(/assets/metalbg.jpg) no-repeat center center fixed;
}
.toolbar
{
    opacity: 0.5;
    transition-duration: 0.4s;
}

.toolbar:hover
{
    opacity: 1;

}

.sidenav
{
    padding: 20px;
    width: 10%;
    min-width: 150px;
    /* text-align: center; */
}

.content
{
    position: absolute;
    background-color: primary;
    height: 100%;
    width: 100%;
}

/* .centered {
    position: absolute;
    width: 50%;
    left: 5%;
  } */

/* 
.logs
{
    position: absolute;
    width: 50%;
    left: 5%;
    height: 40%;
}
.logs:hover .logscontent
{
    height: 170%;
}

.logstop
{
    background-color: rgba(36, 37, 54, 0.6);
    position: relative;
    height: auto;
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.logscontent
{
    background-color: rgba(192,192,192,0.6);
    display: block;
    position: relative;
    height: 100%;
    transition-duration: 0.4s;
    padding: 10px;
    overflow-y: auto;
    color: black;
    font-weight: bold;
} */



/* .usersdiv
{
    position: absolute;
    width: 20%;
    right: 5%;
    height: 40%;
}

.usersdiv:hover .userscontent
{
    height: 170%;
}

.userstop
{
    background-color: rgba(36, 37, 54, 0.6);
    position: relative;
    height: auto;
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.userscontent
{
    background-color: rgba(192,192,192,0.6);
    display: block;
    position: relative;
    height: 100%;
    transition-duration: 0.4s;
    padding: 10px;
    overflow-y: auto;
    color: black;
    font-weight: bold;
} */




/* .title {
    max-width: 100%;
    min-width: 200px;
    height: auto;
    left: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding: 20px;
  } */

/* .userow
{
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
} */

.deleteicon
{
    overflow: auto;
    position: absolute;
    right: 10px;
}

.deleteicon:hover
{
    overflow: auto;
    position: absolute;
    right: 10px;
    color: red
}