.spacer {
    flex: 1 1 auto;
}


.bg
{
    background-color: rgb(61, 61, 65);
    background: url(/assets/metalbg.jpg) no-repeat center center fixed;
}
.toolbar
{
    opacity: 0.5;
    transition-duration: 0.4s;
}

.toolbar:hover
{
    opacity: 1;

}

.sidenav
{
    padding: 20px;
    width: 10%;
    min-width: 150px;
    /* text-align: center; */
}

.content
{
    position: absolute;
    background-color: primary;
    height: 100%;
    width: 100%;
}

.icon {
    max-width: 100%;
    height: auto;
    left: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    /* padding: 20px; */
  }

.deleteicon
{
    overflow: auto;
    position: absolute;
    right: 10px;
}

.deleteicon:hover
{
    overflow: auto;
    position: absolute;
    right: 10px;
    color: red
}