

<div class="content">
  
  <mat-sidenav-container class="example-container content">
    <mat-sidenav #sidenav mode="over" [(opened)]="opened" position="end" (opened)="events.push('open!')"
                  (closed)="events.push('close!')" class="sidenav">
      Users:
      <hr>
      <p *ngFor="let user of users">
        {{ user }}
      </p>
      <!-- <users></users> -->
    </mat-sidenav>
  
    <mat-sidenav-content class="bg">
      
      <mat-menu #appMenu="matMenu">
          <button mat-menu-item (click)="toggleTheme()"> Switch theme </button>
          <button mat-menu-item (click)="help()"> Help </button>
          <button mat-menu-item (click)="downloadlink()"> Client via link </button>
          <button mat-menu-item (click)="logout()"> Logout </button>
        </mat-menu>
        
        <mat-toolbar color="primary" class="toolbar">
          <span>PySpy </span>  
          <span class="spacer"></span>
          <button mat-icon-button (click)="sidenav.open()">
              <mat-icon>group</mat-icon>
          </button>
          <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>settings</mat-icon></button>
        </mat-toolbar>
        
        <titleimg></titleimg>
        
        <logs></logs>

        <users></users>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>


